@font-face {
  font-family: "fontGame";
  src: url("./Pony.ttf");
}
.game {
  background-image: url("../assets/bgGame.png");
  height: 100%;
  width: 100%;
  position: fixed;
  font-family: fontGame;
}
.btnGame {
  width: 200px;
  height: 200px;
  font-size: 40px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
